body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  background: #e5e5e5;
  min-height: 100vh;
}

.logo {
  width: 90px;
  height: 50px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20 !important;
  overflow: hidden;
  transform: translate(-100%);
  transition: all 1s ease-in-out;
  background: lightgray;
}

.sidebar-inner {
  position: relative;
  background: rgb(211, 206, 206);
  width: 100%;
  height: 50%;
  padding-top: 4rem;
}

.show-side-bar {
  transform: translate(0);
}

.click-cancel {
  color: rgb(224, 65, 65);
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 5;
}

.cursor {
  cursor: pointer;
}

.white-text {
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
}

.green-text {
  color: rgb(28, 124, 92);
  font-size: 1.4rem;
  font-weight: 700;
}

.black-text {
  color: rgb(88, 51, 51);
  font-size: 1.4rem;
  font-weight: 700;
}

.togglenav {
  font-size: 2rem;
}

.weather-main {
  position: relative;
  width: 70%;
  height: 300px;
  min-height: 300px;
  margin: 2rem auto;
  box-shadow: 8px 8px 10px rgb(171, 173, 173), -8px -8px 10px rgb(176, 176, 189);
  border-radius: 10px;
}

.reminder-temp {
  position: absolute;
  top: -2rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 0.6rem;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(28, 124, 92);
}

.reminder-location {
  top: -1.5rem;
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  padding: 0.2rem;
  border-radius: 3px;
  text-align: center;
  color: red;
  font-size: 0.85rem;
  font-weight: 500;
  background-color: rgb(112, 194, 166);
}

@media screen and (max-width: 1023px) {
  .weather-main {
    width: 90%;
    height: 400px;
  }
}

.weather-center {
  position: relative;
}

.btn-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.btn-inner-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-details {
  position: relative;
}

.details-inner {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.post-slide {
  width: 80%;
  margin: 0 auto;
  min-height: 300px;
}

.min-height {
  min-height: 80vh;
  margin-bottom: 1rem;
}

.slide-post-item {
  background: white;
  padding: 0.2rem;
  height: 380px;
}

.post-cards {
  height: 390px;
}

.nav-text {
  color: rgb(112, 194, 166);
  font-size: 1rem;
  font-weight: 600;
}

.nav-text:hover {
  color: rgb(63, 138, 113) !important;
}

.image-post-slide {
  height: 200px;
  width: 100%;
}

.name-post-slide {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  margin-left: 0.3rem;
}

.text-post-slide {
  text-align: left;
  font-size: 1rem;
  margin-left: 0.3rem;
  margin-top: 0;
}

.min-heigth {
  min-height: 100vh;
}

.hr {
  width: 80%;
  height: 2px;
  background: black;
  margin: 1rem auto;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.single-post-image {
  width: 60%;
  height: 300px;
}

@media screen and (max-width: 767px) {
  .weather-main {
    width: 90%;
    height: 350px;
  }

  .logo {
    width: 60px;
    height: 50px;
  }

  .weather-center {
    max-height: 240px;
    height: 120px;
  }

  .btn-circle {
    width: 120px;
    height: 120px;
    top: 0;
  }

  .btn-inner-circle {
    width: 100px;
    height: 100px;
  }

  .details-inner {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  .post-slide {
    width: 100%;
  }

  .name-post-slide {
    text-align: center;
  }

  .text-post-slide {
    text-align: center;
    margin-left: 0.4rem;
  }

  .single-post-image {
    width: 80%;
    height: 300px;
  }
}

.refresh {
  position: relative;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.refresh button {
  width: auto;
  height: 40px;
  outline: none;
  border: none;
  background: rgb(126, 202, 126);
  border-radius: 10px;
  color: white;
  font-size: 2rem;
  line-height: 2rem;
}

.refresh button:hover {
  background: rgb(54, 114, 54);
}
