body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3 !important;
  overflow: hidden;
  transform: translate(-100%);
  transition: all 1s ease-in-out;
  background: lightgray;
}

.sidebar-inner {
  position: relative;
  background: white;
  width: 100%;
  height: 50%;
  padding-top: 4rem;
}

.show-side-bar {
  transform: translate(0);
}

.click-cancel {
  color: red;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 5;
}

.cursor {
  cursor: pointer;
}
