body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3 !important;
  overflow: hidden;
  transform: translate(-100%);
  transition: all 1s ease-in-out;
  background: lightgray;
}

.sidebar-inner {
  position: relative;
  background: white;
  width: 100%;
  height: 50%;
  padding-top: 4rem;
}

.show-side-bar {
  transform: translate(0);
}

.click-cancel {
  color: red;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 5;
}

.cursor {
  cursor: pointer;
}

.weather-main {
  width: 70%;
  height: 300px;
  margin: 1rem auto;
  box-shadow:
    8px 8px 10px rgb(171, 173, 173),
    -8px -8px 10px rgb(176, 176, 189);
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .weather-main {
    width: 90%;
    height: 350px;
  }
}

.weather-center {
  position: relative;
}

.btn-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}

.btn-inner-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: auto;
  border: 2px solid white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-details {
  position: relative;
}

.details-inner {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

@media screen and (max-width: 767px) {
  .weather-main {
    width: 90%;
    height: 450px;
  }

  .weather-center {
    max-height: 240px;
    height: 180px;
  }

  .btn-circle {
    width: 180px;
    height: 180px;
    top: 0;
  }

  .btn-inner-circle {
    width: 160px;
    height: 160px;
  }

  .details-inner {
    justify-content: center;
    align-items: center;
  }
}
